node_modules

Saya telah belajar fundamental javascript. Dari sejarah, basic (typedata,operator), function, basic data structure(object,array,map,set,spread,rest), control flow (if else, swith, for loop, for in, for of, while, do while, try catch), dan modularisasi.